* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;padding:0;
}
body{
    font-family: ΢微软雅黑,Verdana, Geneva, sans-serif;
    font-size: 12px;
    background-color: #f2f2f2;
    color:#000;
    height:100%;
}

ul,ol{
    list-style:none
}
a{
    text-decoration:none;
    color:#000;
}
q:before,q:after{
    content:''
}
fieldset,img{
    border:0
}
button,input,select,textarea{
    font-size:100%
}
table{
    border-collapse:collapse;border-spacing:0;width:100%;
}
::-webkit-scrollbar{
    width:0;
    height:0
}
p{
    line-height: 18px;
}
.top{
    width:100%;
    position:fixed;
    top:0;
    height:50px;
    line-height: 50px;
    background-color: #000;
    color: #fff;
    padding:0 15px 0 15px;
    text-align: center;
    font-size: 20px;
    z-index: 3;
}
.top .nomore{
   margin-left: -40px;
}
.top .more-box{
    display: none;
    position: absolute;
    right:0;
    top:50px;
    background-color: #2F2E2E;
    width:130px;
    padding:5px 10px;
    text-align: left;
}
.top .more-box .icon{
    margin-right: 7px;
    vertical-align: middle;
}
.top .more-box .icon-link{
    font-size: 14px;
    margin-right: 8px;
}
.top .more-box span{
    display: block;
    color: #fff;
   line-height: 22px;
    font-size: 14px;
    padding:3px 0;
}
.top .top-title{
    font-weight: 700;
}
.top .back{
    float: left;
    font-size: 18px;
    line-height: 52px;
    color: #fff;
}
.top .back i{
    width:15px;
    height:19px;
    line-height: 19px;
    font-size: 25px;
    margin:-4px 7px 0 -7px;
    display: inline-block;
}
.top .more{
    float: right;
    line-height: 45px;

}
.top .icon-more{
    float: right;
  font-size: 27px;
}
.clear-fix{
    clear: both;
    float: none!important;
}
.delDialog{
    display: none;
}
 .weui-dialog{
    width:75%;
}
.weui-dialog__hd{
    padding: 0.5rem 1rem 0;
}
 .weui-dialog__bd{
    padding:0 1rem 0.5rem;
    min-height: 25px;
}
 .weui-dialog__ft{
    line-height: 40px;
    font-size: 14px;
}
.weui-icon_toast {
    margin: 5px 0 0;
}
.weui-icon_toast.weui-icon-success-no-circle:before{
    font-size: 40px;
}
.weui-toast{
    min-height:5.6em;
    width:8.8em;
}
 .line-del{
    color: #3eaeee;
}
 .cancel-del{
    color: #999;
}
/*@-webkit-keyframes bgClick*/
/*{*/
    /*0% {background:#D8D3D3;}*/
    /*100% {background:none;}*/
/*}*/
/*.click-tips{*/
    /*animation: bgClick 0.1s ease-out;*/
    /*-webkit-animation:bgClick 0.5s ease-out;*/
/*}*/
