/*
* @Author: sison.luo
* @Date:   2016-04-17 15:40:37
* @Last Modified by:   sison.luo
* @Last Modified time: 2016-06-16 14:34:57
*/


/* switch */
.switch-actor{ width: 71px; position: relative; background-color: #fff; height: 24px; padding: 2px; overflow: hidden; font-size: 12px; border-radius: 24px; cursor: pointer;}
.switch-actor .switch-mover{ position: absolute; left: 0; top: 2px; width: 1000px; height: 24px;}
.switch-actor.on{ background-color: #6DBB56;}
.switch-actor.off{ background-color: #aaa;}
.switch-actor.on .switch-mover{ left: 0;}
.switch-actor.off .switch-mover{ left: -47px;}
.switch-actor .switch-mover span{ display: inline-block; height: 24px; line-height: 24px; color: #fff; float: left;}
.switch-actor .switch-mover span.switch-left{ padding: 0 10px 0 15px;}
.switch-actor .switch-mover span.switch-right{ padding: 0 15px 0 10px;}
.switch-actor .switch-mover span.switch-dot{ width: 24px; background-color: #fff; border-radius: 50%; overflow: hidden; padding: 0;}

/* select */
.select{ position: absolute; left: -100px; right: 0; display: none;}
.selector{ position:relative; width:200px; display: inline-block;}
.selector + .selector{ margin-left: -1px;}
.selector dl{ line-height:30px; font-size:12px;}
.selector .setitle{ border:1px solid #ddd; z-index:1000;}
.disabled .setitle{ border-color:#ddd;}
.selector .setitle i{ position: absolute; top: 50%; right: 10px; margin-top: -4px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 6px solid #aaa; cursor: pointer;}
.selector .setitle a{ display:block; line-height:32px; white-space:nowrap; padding:0 25px 0 10px; text-decoration:none; color:#333;}
.disabled .setitle a{ color:#aaa;}
.disabled .setitle i,
.disabled .setitle a{ cursor:not-allowed;}
.selector .selist{ position:absolute; top:33px; left:0; opacity: 0; min-width:100%; z-index:99999; font-size:12px; background-color:#fff; transition:opacity .3s ease-in-out; visibility: hidden; max-height: 360px; overflow: auto;}
.curse{ position: relative; z-index: 1;}
.curse .setitle{ border-color: #66afe9; box-shadow: 0 0 8px rgba(102,175,233,.6);}
.curse .selist{ z-index:999; opacity: 1; border:1px solid #bbb; border-top-color: #66afe9; overflow-y:auto; box-shadow: 0 4px 12px rgba(0,0,0,.125); box-sizing:border-box; visibility: visible;}
.curse .setitle i{ transform: rotate(180deg);}
.selector .selist ul li{ padding:4px 10px; line-height:20px; cursor:pointer; white-space: nowrap;}
.selector .selist ul li:first-child{ border-top:none;}
.selector .selist ul li:last-child{ border-bottom:none;}
.selector .selist ul li.curli{ background-color: #ddd; color: #000;}
.selector .selist ul li:hover{ background-color:#2689DC; color: #fff}

/*分页*/
.pagination-out{height:62px; background-color: #eee;}
.pagination{font-size:12px; text-align:center; height:32px; padding:15px 0; font-family: verdana,simsun; color: #666;}
.pagination .pagLi.pagNum a{padding:0 5px; color:#333; text-decoration: underline;}
.pagination .pagUl{position:relative;float:left;left:50%}
.pagination .pagLi{position:relative;float:left;right:50%; line-height: 32px; padding: 0 10px;}
.pagination .pagLi.pagNum{line-height:30px}
.pagination .pagLi.pagNum a{padding:9px 15px;color:#666; background-color: #fafafa; border: 1px solid #ddd;text-decoration: none; line-height: 1; display: inline-block; margin: 0 0 0 10px; border-radius: 2px;}
.pagination .pagLi.pagNum a:hover{color: #fff; background-color: #278ADD; border-color: #278ADD;}
.pagination .pagLi.pagNum a.disabled,
.pagination .pagLi.pagNum a.disabled:hover {color:#bbb; background-color: #fff; border-color: #ddd; text-decoration: none}
.pagination .pagLi.pagNum span.curpage{padding:0 0 0 10px;*padding:0 0 0 7px; font-weight: bold;}
.pagination .pagLi.pagNum span.totalpage { padding: 0 15px 0 0; font-weight: bold;}
.pagination .pagLi .form-group{clear:both;line-height:32px}
.pagination .pagLi label{float:left;font-weight:normal;padding:0 5px 0 0}
.pagination .pagLi label .results{padding:0 3px;}
.pagination .pagLi .sps{ font-size: 12px;}
.pagination .btn-group{float:left}
.pagination .btn-group.jump-txt{padding:0}
.pagination .btn-group .btn-default{padding:0 15px 0 0}
.pagination .btn-group #thePage{width:45px;height:30px;line-height:30px;text-align:center;padding:0;position:relative;vertical-align:top;top:0px;top:-2px\9; border-radius: 2px;}
.pagination .btn-group #btnJump{background-color:#fafafa;border:1px solid #ddd;color:#666;height:32px;line-height:30px;margin:0;padding:0 20px;cursor:pointer;vertical-align:top;position:relative;top:0px;top:-2px\9; border-radius: 2px;}
.pagination .btn-group #btnJump[disabled]{background-color:#fff;color:#bbb;border-color:#ddd;cursor:not-allowed}
.pagination select{line-height:28px;padding:0;border:1px solid #ccc;outline:none;width:52px; color: #666}
.pagination .se-border{ border-radius: 2px;}


/*select-group*/
.se-border{border:1px solid #ddd;padding:5px;float:left;background:#fff;position:relative;top:0px;top:-2px\9;line-height:22px}
.se-border .se-hidden{width:60px;*width:58px;height:20px;overflow:hidden}
.se-border .se-hidden select{width:60px;*margin:-2px;border:none;background:transparent;outline:none;font-size:12px;height:20px}
.select-group .se-border{top:0;top:0\9}
.select-group .se-border .se-hidden{width:100px;*width:98px;height:22px;height:23px\9}
.select-group .se-border .se-hidden select{width:100%;font-size:14px;border:none}
.se-border-width100percent{width:100%;border:1px solid #ccc;padding:6px;float:left;background:#fff;box-shadow:0 0 3px #eee inset;position:relative;line-height:22px;top:-1px;top:-2px\9}
.se-border-width100percent .se-hidden{width:60px;*width:58px;height:20px;overflow:hidden}
.se-border-width100percent .se-hidden select{width:60px;*margin:-2px;border:none;padding:1px;background:transparent;outline:none;font-size:12px}
.select-group.full .se-border .se-hidden{ width:100%;}


/* 文本框 */
.input-group{ line-height: 30px;}
.input-group label{ display: table; border-collapse: separate; width: 100%;}
.input-group .txt{ border-radius: 2px 0 0 2px; font-size: 12px; box-sizing: border-box; display: table-cell; width: 100%;}
.input-group span,
.input-group button{ background-color: #f8f8f8; border: 1px solid #ddd; padding: 0 15px; white-space: nowrap; line-height: 32px; color: #888; font-size: 14px; text-align: center;}
.input-group span + .txt{ margin: 0 0 0 -1px; border-radius: 0 2px 2px 0;}
.input-group .txt + span,
.input-group .txt + span button{ border-left: none;}
.input-group span{ vertical-align: middle; display: table-cell; width: 1%;}
.input-group.button span{ padding: 0; border: none;}
.input-group.button button{ cursor: pointer;}
.input-group.button button:before{ color: #888; font-size: 14px;}
.input-group.inline{ float: left;}
.input-group.inline label{ width: 180px;}
.input-group.inline .txt{ width: 180px;}
.txt-group{ line-height: 34px; display: inline-block;}

/*radio-group*/
.radio-group{ padding-top:3px;}
.radione{ cursor: pointer; display: block; padding: 0 20px 0 12px; position: relative;}
.radione.inline{ float: left;}
.radione input{ visibility: hidden;}
.radio-group{ line-height: 20px;}
.radione i{ border: 1px solid #3eaeee; border-radius: 50%; width: 20px; height: 20px; line-height:18px;background-color: #fff; position: relative; display: block; float: left; margin: 1px 6px 0 0; position: absolute; left: 0;top:4px;}
.radione.checked i:before{;color:#3eaeee;margin-left: 2px;}



/*check-group*/
.check-group{ padding: 7px 0;}
.checkone{ cursor: pointer; display: block; padding: 0 20px 0 0;} 
.checkone.inline{ float: left;}
.checkone input{ display: none; position: absolute;}
.check-group{ line-height: 20px;}
.checkone i{ border: 1px solid #bbb; margin: 1px; border-radius: 1px; width: 15px; height: 15px; background-color: #f6f6f6; position: relative; display: block; float: left; font-size: 12px; font-family: 'arial'; line-height: 16px; margin: 1px 5px 0 0;}



/*form*/
.errtip{ position: absolute; bottom: -35px; background-color: #D9544F; z-index: 1; color: #fff; font-size: 12px; line-height: 30px; padding: 0 10px; border-radius: 3px; box-shadow: 1px 1px 3px rgba(217, 84, 79, 0.5)}
.errtip:after{ content: ''; position: absolute; border-left: 5px dashed transparent; border-right: 5px dashed transparent; border-bottom: 5px solid #D9544F; left: 20px; top: -5px;}
.col-key{}
.col-val{ position: relative;}
.required .col-key span:before{ content: '*'; color: #f00; padding: 0 8px 0 0;}
















