################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/{{cookiecutter.project_name}}/BitAdminFileService/obj
/{{cookiecutter.project_name}}/BitAdminService/obj
/{{cookiecutter.project_name}}/{{cookiecutter.project_name}}/obj
