<!--BitAdmin2.0框架文件-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>微信公众号示例页面</title>
    <meta name="description" content="BitAdminCore, Version 1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="../../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            微信公众号示例页面（一）<br />
            姓名：<span class="userName"></span><br />
            手机：<span class="mobile"></span>
        </div>
    </div>
    <script>
        $.get("../../account/getUser", function (result) {
            if (result.code == 1) {
                alert(result.msg);
            } else {
                for (var key in result) {
                    if ($("." + key) != null)
                        $("." + key).text(result[key]);
                }
            }
        });
    </script>
</body>
</html>