
.top .publish{
	color:#3eaeee;
	line-height:48px;
}
.comment-content .weui-cells:before{
	border:none;
}
.comment-content .uploader{
	margin-top:50px;
}
.comment-content .uploader textarea{
	padding:10px 15px 0;
	border:none;
	width:100%;
	min-height:150px;
	resize:none;
}
.comment-content .weui-cells{
	margin-top: -5px;
	padding-top:20px;
	overflow: visible;
}
.comment-content .weui-uploader__input-box{
	margin-bottom:10px;
	width:79px;
	height:79px;
}
.comment-content .weui-gallery__opr{
	top:0;
	bottom:auto;
	background-color: #353333;
	line-height: 50px;
}
.comment-content .weui-gallery__del{
  float:right;
  width:45px;
}
.comment-content .weui-gallery__del .weui-icon_gallery-delete{
	 font-size:18px;
}
.comment-content .weui-gallery__opr .weui-back{
  float:left;
  margin-left:10px;
  color:#fff;
	-webkit-tap-highlight-color:transparent ;
}
.comment-content .weui-gallery__opr span{
	vertical-align: middle;
	font-size: 14px;
}
.comment-content .weui-gallery__opr b{
  font-weight:normal;
	font-size:18px;
	vertical-align: middle;
}
.comment-content .weui-gallery__opr .weui-back .icon{
   margin-right:5px;
   font-size:25px;
   vertical-align:middle;
}
.comment-content .weui-gallery__opr .weui-back .obli-line{
	vertical-align: bottom;
	font-size: 16px;
	margin-left: 1px;
}
.comment-content .weui-uploader__pop-box{
	display: none;
}
.comment-content .weui-uploader__pop-mask{
	position: fixed;
	opacity: 0.5;
	top:0;
	background-color: #000;
	width:100%;
	margin-left: -15px;
	z-index: 1;
}
.comment-content .weui-uploader__pop-input{
	position: absolute;
	top:50%;
	left:50%;
	width:90%;
	z-index: 2;
	background-color: #fff;
	padding: 5px 0;
}
.comment-content .weui-uploader__pop-input input{
	opacity: 0;
	line-height: 30px;
	width: 100%;
}
.comment-content .weui-uploader__pop-input .weui-uploader__input{
	position: static;
}
.comment-content .weui-uploader__pop-input:before{
	content: "拍照";
}
.comment-content .weui-uploader__pop-input:after{
	content: "从手机相册中选择";
}
.comment-content .weui-uploader__pop-input:before,
.comment-content .weui-uploader__pop-input:after{
	position: absolute;
	top:5px;
	line-height: 30px;
	height:30px;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}
.comment-content .weui-uploader__pop-input:after{
	top:35px;
	border-top: 1px solid #D9D9D9;
	padding-top:2px;
}

	