.search-content .search-in{
    margin:10px 50px 10px 10px;
    border: 1px solid #c7c7c7;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.search-content .search-in input{
    border: none;
    height:30px;
    font-size: 14px;
    width: 100%;
    padding-left: 32px;
    outline: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.search-content .search-cancel{
    position: absolute;
    right:-50px;
    top:-2px;
    font-size: 15px;
    padding:5px 10px;
    color: #3eaeee;
    -webkit-tap-highlight-color:transparent ;
}
.search-content .search-confirm{
    position: absolute;
    right:-50px;
    top:-2px;
    font-size: 15px;
    padding:5px 10px;
    color: #3eaeee;
    -webkit-tap-highlight-color:transparent ;
}
.search-content .search-confirm{
    position: absolute;
    right:-50px;
    top:-2px;
    font-size: 15px;
    padding:5px 10px;
    color: #3eaeee;
    -webkit-tap-highlight-color:transparent ;
}
.search-content .search-in form i{
    position: absolute;
    left: 7px;
    top:0;
    color: #999;
    font-size: 20px;
    vertical-align: middle;
}
.search-content .search-in form span{
    position: absolute;
    right: 10px;
    top:4px;
    color:#c7c5c5;
    display: none;
}
.search-content .search-keywords{
    width: 100%;
    border-top: 1px solid #c7c7c7;
    padding:0 15px;
    background-color: #fff;
}
.search-content .search-keywords h3{
    color: #999;
    line-height: 34px;
    font-size: 15px;
}
.search-content .search-keywords .hot-word{
    border-top:1px solid #D9D9D9;
    padding: 10px 0 15px;
    border-bottom: 1px solid #D9D9D9;
}
.search-content .search-keywords .search-hot a{
    display: inline-block;
    background-color: #f2f2f2;
    padding:5px 20px;
    margin-right: 4%;
    margin-top: 13px;
    font-size: 13px;
    white-space: nowrap;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-tap-highlight-color:#82c3e9;
}

.search-content .search-keywords .history-list div{
    margin-bottom: 5px;
    font-size: 13px;
}
.search-keywords .search-history
{
    position: relative;
    padding-bottom: 25px;
    border-bottom: 1px solid #c7c7c7;
}
.search-keywords .search-history p{
    color: #999;
    text-align: center;
    line-height: 22px;
    position: absolute;
    width:100%;
    bottom:3px;
}
.search-keywords .search-history p i{
    vertical-align: middle;
}
.search-content .search-keywords .history-list i{
    color:#999;
    vertical-align: top;
    margin: 0 4px;
    font-size: 15px;
}
.search-content .search-keywords .history-list .icon-guanbi{
    font-size: 23px;
    float: right;
    line-height: 22px;
}
.search-keywords .search-history .history-list p i{
    vertical-align: middle;
}