
<div class="box">
    <div class="box-body querySuite-wrapper">
        <!-- 按钮 查询 导入 -->
        <div class="querySuite-button container-fluid navbar-right" style="margin-bottom:10px;">
            <button class="btn btn-default" action="add" action-modal="addPage">
                <span class="glyphicon glyphicon-plus-sign"></span> 新增
            </button>
            <button class="btn btn-danger" action="delete">
                <span class="glyphicon glyphicon-trash"></span> 删除
            </button>
        </div>
        <!-- 列表-->
        <div class="querySuite-table"
             data-parent="parentId"
             data-key="exampleId"
             data-query-url="../../Example/QueryExampleTree"
             data-delete-url="../../Example/DeleteExample">
            <table>
                <thead>
                    <tr>
                        <th style="width:30px;"><input type="checkbox" /></th>
                        <th data-field="exampleName">示例名称</th>
                        <th data-field="exampleText">普通文本</th>
                        <th data-field="examplePhone">手机</th>
                        <th data-format="operationFormatter" style="text-align:center">操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- 分页 -->
        <div class="querySuite-paging" data-page-size="10"></div>
    </div>
</div>
<!-- 模态框（Modal）编辑页面 -->
<div id="addPage" class="modal fade formSuite-wrapper" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px;overflow-y:auto;">
        <div class="modal-content">
            <div class="modal-body">
                <form data-title="菜单页面"
                      data-save-url="../../Example/SaveExample"
                      data-load-url="../../Example/LoadExampleTree">
                    <table class="table-bordered">
                        <tr>
                            <th>示例名称：</th>
                            <td>
                                <input type="hidden" name="exampleId" />
                                <input name="exampleName" type="text" class="form-control required" placeholder="示例名称" />
                            </td>
                            <th>普通文本：</th>
                            <td>
                                <input name="exampleText" type="text" class="form-control required" placeholder="普通文本">
                            </td>

                        </tr>
                        <tr>
                            <th>单选：</th>
                            <td>
                                <label data-control="bitRadio" data-control-type="DicUrl" data-type="A" data-text="memberName" data-value="member" data-inline="true" data-control-name="radioChange">
                                    <input type="radio" name="exampleRadio">
                                </label>
                            </td>
                            <th>复选：</th>
                            <td>
                                <label data-control="bitCheckbox" data-control-type="DicUrl" data-type="b" data-text="memberName" data-value="member" data-inline="true">
                                    <input type="checkbox" name="exampleCheckbox">
                                </label>
                            </td>
                        </tr>

                        <tr>
                            <th>下拉框：</th>
                            <td>
                                <select class="form-control" name="exampleSelect" data-control="bitSelect" data-control-type="DicUrl" data-type="A" data-text="memberName" data-value="member"></select>
                            </td>
                            <th>电话号码：</th>
                            <td>
                                <input type="text" name="examplePhone" class="form-control phone required" placeholder="电话号码">
                            </td>
                        </tr>
                        <tr>
                            <th>下拉联动(异步)：</th>
                            <td>
                                <div id="linkageSelectTrue" data-url="../../Example/GetLinkageSelect" data-ajax="true" data-text="departmentName" data-value="departmentId">
                                    <select class="form-control" style="display:initial;width:33%" data-type="a" name="linkageSelectD"></select>
                                    <select class="form-control" style="display:initial;width:33%" data-type="b" name="linkageSelectE"></select>
                                    <select class="form-control" style="display:initial;width:33%" data-type="c" name="linkageSelectF"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>下拉联动(同步)：</th>
                            <td>
                                <div id="linkageSelectFalse" data-url="../../Example/QueryTreeTableData" data-ajax="false" data-text="departmentName" data-value="departmentId">
                                    <select class="form-control" style="display:initial;width:33%" data-type="a" name="linkageSelectA"></select>
                                    <select class="form-control" style="display:initial;width:33%" data-type="b" name="linkageSelectB"></select>
                                    <select class="form-control" style="display:initial;width:33%" data-type="c" name="linkageSelectC"></select>
                                </div>
                            </td>
                            <th>日期时间：</th>
                            <td>
                                <div data-control="datePicker" data-format="yyyy-MM-dd HH:mm:ss" data-control-name="selectChange">
                                    <input type="text" name="exampleTime" class="form-control" placeholder="日期时间" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>用户：</th>
                            <td>
                                <div class="input-group" data-control="picker" data-control-type="UserPicker" data-param="single:true">
                                    <input type="text" name="userName" class="form-control" placeholder="用户" />
                                    <input type="hidden" name="exampleUser" />
                                </div>
                            </td>
                            <th>部门：</th>
                            <td>
                                <div class="input-group" data-control="picker" data-control-type="OUPicker" data-param="single:false">
                                    <input type="text" name="departmentName" class="form-control" placeholder="部门" />
                                    <input type="hidden" name="department" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>自动提示文本</th>
                            <td>
                                <input class="form-control" data-control="bitAutoComplete" id="inputAutoCmplete" name="autoComplete" data-text="member" data-control-type="DicUrl" data-type="A" />
                            </td>
                            <th>自动提示下拉框</th>
                            <td>
                                <input type="text" data-control="bitAutoComSelect" data-control-type="DicUrl" name="autoComSelectText" class="form-control" data-target="autoComSelect" data-text="memberName" data-value="member" data-type="A" />
                                <input type="hidden" name="autoComSelect" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save" action="save">
                    <span class="glyphicon glyphicon-saved"></span>
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="../../lib/jquery-treegrid/js/jquery.treegrid.min.js"></script>
<script type="text/javascript">
    $(function () {

        var linkageSelectTrue = $("#linkageSelectTrue").linkageSelect().change(function (e) {
        });
        //同步
        var linkageSelectFalse = $("#linkageSelectFalse").linkageSelect().change(function (e) {
        });

        var treetable = $(".querySuite-wrapper").treeTable({
            operationFormatter: function (data) {
                var span = $("<span></span>");
                var updateSpan = $('<span class="btn btn-link">修改</span>');
                updateSpan.bind('click', function () {
                    addPageSuite.load({ id: data.exampleId });
                });
                span.append(updateSpan);
                return span;
            },
        });

        //表单套件初始化
        var addPageSuite = $("#addPage").formSuite()
            .edit(function (e) {//点击编辑：加载数据后
                linkageSelectFalse.wrapper.find('select:first').change();

                linkageSelectTrue.wrapper.find('select:first').change();
            })
            .add(function (e) {
                linkageSelectFalse.wrapper.find('select').attr('data-actualval', '');
                linkageSelectFalse.wrapper.find('select:first').change();

                linkageSelectTrue.wrapper.find('select').attr('data-actualval', '');
                linkageSelectTrue.wrapper.find('select:first').change();
            })
            .submit(function () {
                treetable.query();
            });



    });

</script>